.app_orange_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #9a4313;
    --primary-color: #9a1a0e;
    --secondary-color: #d01f0e;
    --inverted-secondary-color: #faf4fb;
    --inverted-primary-color: #dbd5dc;
}
